.table-container {
  padding: 20px;
  overflow-x: auto;
}

.table-wrapper {
  width: fit-content;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

th {
  font-weight: bold;
  background-color: #f2f2f2;
  color: black;
  position: sticky;
  top: 0;
}

tbody tr:nth-child(even) {
  background-color: #03076b;
}

tbody tr:hover {
  background-color: #e6f7ff;
  color: black;
}

.table-container {
  position: relative;
  z-index: 1;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 1;
}
